* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  background: #79cbf1;
}

.mainDiv {
  border: 2px solid rgb(68, 70, 68);
  border-radius: 8px;
  height: 430px;
  width: 430px;
  margin: auto;
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.checkSt {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  font-size: xx-large;
}